body {
  font-family: 'Caveat', cursive;
}

header {
  background-color: #ffffff;
  padding: 0;
}



.caixa {
  position: relative;
  width: 200px;
  margin: 0 auto;
  padding: 20px;

}


.menu{
  font-size: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 187, 0);
  border-radius: 80%;
  padding: 20px;
  text-decoration: none;
 color: black;
 
}

.menu:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  transition: 500ms;
  text-decoration: none;
  background-color: rgb(255, 187, 0);
  font-size: 30px;
}

 main{
   padding: 30px;
  text-align: center;
  top: 110px;
  right: 0px;
}

main li{
  display: inline;
  margin: 0 0 0 30px;
}

.imagemcentro{
  margin: 100px 470px;
  width: 50%;
  border: 0px solid rgb(255, 187, 0);
  border-radius: 30px;
  filter: grayscale(3.0);
  
}

.imagemcentro:hover{
  transition: 500ms;
 filter: grayscale(0);
 
 transform: scale(1.1);
 
}



/*footer*/
footer{
  background-color:  rgb(255, 187, 0);
}

footer{
padding: 0px;
}

.contato{
margin: 0px 0 0px;
padding: 10px 0 0;
text-align: center;
font-size: 25px;
}

.contato li{
margin: 0px 20px;
text-align: center;
display: inline-block;
padding: 30px 0 0;
}

.contato p{
  font-size: 20px;
  padding: 5px 5px 10px 0;
  border-radius: 100%;
  transition: 500ms;
}
.contato p:hover{
color: white;
  
}

.contato li a img{
  padding: 2px;
width: 30px; 
transition: .2s;
}

.contato a:hover img{
transform: scale(1.4) translateY(-19px);
}

.card {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  display: inline-block;
  margin: 75px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 14px;
  box-shadow: none !important;
}

.card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card .profile-image img {
margin: 10px;
  border-radius: 5px;
  max-width: 100%;
  height: 80px;
  vertical-align: top;
  float: left;
}

.card figcaption {
  width: 100%;
  background-color:rgb(255, 187, 0);
  color: #fff;
  padding: 25px;
  display: inline-block;
  margin-bottom: 15px;
  border-radius: 5px;
  position: relative;
}

.card figcaption:after {
  content: '';
  position: absolute;
  left: 32px;
  top: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: rgb(255, 187, 0) transparent transparent transparent;
}

.card h3,
.card h4,
.card p {
  margin: 0 0 5px;
}

.card h3 {
  font-weight: 600;
  font-size: 1.2em;
  font-family: 'Montserrat', Arial, sans-serif;
}

.card h4 {
  color: black;
  font-weight: 400;
  letter-spacing: 2px;
}

.card p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}



/*galeria*/
.galeria{
  margin: 30px 00px 0px 10px;

 display: inline-block;
 filter: grayscale(3.0);

}

.galeria:hover{
  transition: 500ms;
  filter: grayscale(0);
 
}

.galeria2{
  margin: 30px 0px 0px 250px;
  filter: grayscale(3.0);
  display: inline-block;
}

.galeria2:hover{
  transition: 500ms;
  filter: grayscale(0);
 
}